# ambiente
.env
.env.*
!.env.example
.venv/

# sistema
.DS_Store

# editores
.idea/
.vscode/

# testes
.pytest_cache/
challenges/01-analise-de-trafego/tests/manual_capture_wlp3s0.py

# cobertura
coverage/
.coverage
htmlcov/
*.lcov

# artefatos locais
*.db
*.db-journal
*.db-wal
*.db-shm

# artefatos comuns
node_modules/
dist/
build/
target/
__pycache__/
*.pyc
vendor/
bin/
